<a href="https://colab.research.google.com/github/aadityasomani/Aadi/blob/master/Lesson_78_Database_Fundamentals_Aditya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 78: Database Fundamentals

---

### Teacher-Student Tasks

In this class, you will be introduced to the database and some of the fundamentals of databases like Relational Databases, Schemas, and SQL.

---

#### Task 1: Introduction to Databases

A database is the organized collection of interrelated data where the data can be anything from simple text to a video file. A database can be of any size and complexity.

Traditionally, to store information **file processing systems** were used where for every function a specific file was create. For example, for a school management system, 
- One file was created for student's academic information about classes, grades, etc. 
- Another file was created for student's accounting information about fees and payments from students.

Both the files were maintained separately, hence if the information of the student, e.g. student's phone number,  need to be updated then both files need to be updated accordingly. The mainteinance of this system may result in a lot of issues like: 
- **Data Redundancy:** Same data may be duplicated in multiple files which takes up more disc space.
- **Data Inconsistency:** Due to data redundancy, the same data stored in multiple files may not match with each other thereby causing inconsistency in data.
- **Expensive Storage:** Duplicate data also leads to wastage of space and high storage and access cost.

This lead to the development of **DBMS**. A **database management system** (**DBMS**) is a collection of programs used to create and manage the database. 

DBMS involves both:
- Defining the structure to store information. 
- Providing functional ways for manipulating the information.

DBMS goals to achieve a way to store and retrieve the information from a database that is both convenient and efficient.

Some of the common examples of applications of DBMS are:
1. **Banking:** For the management of customer information, bank accounts, transaction, etc.
2. **Airlines:** For the management of passenger information, reservations, and flight schedules.
2. **Universities:** For the management of students, teachers, and staff information, course registrations, and grade processing.

**Can you think of more examples for the application of DBMS?**

The following are some of the different examples of the application of DBMS:

1. **Telecommunication Systems:** For the management of records of calls made, payment and billing system, customer information, etc.
2. **E-commerce websites:** For the management of users information - buyers and seller, product availability, pricing system, billing system.
3. **Social Media:** For the management of user's information, media processing system, management of operations -  likes, shares, followers, etc.

All of the above examples require different types of structure and design for database systems based on the use of the data. One of the most common types of database is **Relational Databases**. Let's learn more about the Relation Databases in the next task.

---

#### Task 2: Relational Databases

Relational Databases consist of a collection of tables to store the information. The tables here are linked with each other based on their relationship. These relationship links are also stored in the table itself.

Let's understand it with the help of an example.

**Example:**

Consider a DBMS for Banking System, we need to store the personal information of the customer and the account details of the customer. Now, there is a possibility that the customer has two accounts. In that case, we have two options:
1. Storing the customer and account details in one table and repeating the customer information for both accounts.
2. We can store the information in two different tables **Customer Information** and  **Accounts Information** where we can link both the tables using a common field, in this case, **Customer Id**. 

The Relational Database systems follow the second approach where the data and their relations both are maintained effectively.

A basic structure of the Relational Database is defined by the tables created. Let's understand them in more detail.

---

#### Task 3: Basic Structure of Relational Database - Tables

The Relational Database is an example of a record-based model where the database is structured in the fixed-format records of several types in the collection of tables. 

The Relation Database consists of a collection of tables to represent both data and the relationships among those data. Following are some of the common terms of the relational model:

1. **Attribute**: Column of the table
2. **Tuple**: Row of the table.
3. **Domain**: A set of permitted values for an attribute also known as datatype of the column. For Example, a column of integer the data type will have domain values as set of all the integer values (..., -2, -1, 0, 1, 2, ...).


Each table has multiple columns, each column has a unique name. Each table contains records of a particular type. Each record type defines a fixed number of fields or attributes. Each table has multiple columns and each column has a unique name. Each table has a record of a unique type  with a fixed number of columns.

A table is also known as a **Relation**.

**Q:** Consider the `account` table in the image. Can you list the following terms looking at the table? Attributes, Domain.

**A:** In the `account` table attributes and their respective domains are:
- **Attribute 1:** account_number - integer
- **Attribute 2:** branch_name - string/text
- **Attribute 3:** balance - float

---

#### Database Schema

The database schema is the logical design of the database. It defines how the storage of the data in the database and their relationship with each other. It gives an overview of the organization of the tables. 

Individually, a schema can be created for every relation known as relation schema. In programming, if the relation or table is the variable then a relation schema corresponds to the type definition of that table.

The database schema may be in textual or graphical representation. 

**Textual Representation:**
The textual representation of schema includes:
1. The name of the relations (tables) in lower case like `account`.
2. The name  of the relation schema in upper case for the first letter `Account_schema`.

The textual representation of `Account_schema` relation schema is given as:

<center><img src = 'https://i.imgur.com/NW9dR49.png' width = 400></center>


$$ \text{Account_schema} = (\text{account_number},  \text{branch_name},  \text{balance})$$

And, denoting the `account` as relation,
$$ \text{account(Account_schema)}$$


Hence, in general, a relation schema includes a list of the table. Similarly, we can create a relation schema for every table.

**Q:** Create a relation schema for the given two tables.

1. Table 1: Customer Table: A table to store the information of customers:
<center><img src = 'https://i.imgur.com/G7oMA8e.png' width = 400></center>

**A:** `Customer_schema` is given as:
$$ \text{Customer_schema} = (\text{customer_id},  \text{customer_name},  \text{customer_street})$$

And, denoting the `customer` as relation,
$$ \text{customer(Customer_schema)}$$

---

2. Table 2: Customer Account Details Table: A table to store the information of customers:

<center><img src = 'https://i.imgur.com/UTwaiW8.png' width = 300></center>


**A:** `Customer_Account_schema` is given as:
$$ \text{Customer_Account_schema} = (\text{customer_id},  \text{account_number})$$

And, denoting the `customer_account` as relation,
$$ \text{customer_account(Customer_Account_schema)}$$

**Graphical Representation:** Graphical representation can be used to design the schema for the entire database together.
It includes the boxes to define tables in the database and arrows to show their relationship with each other. 

For example, the schema for the tables `account`, `customer`, and `customer_account` is as follows:

<center><img src = 'https://obj.whitehatjr.com/5a51432b-d4a4-47b9-bc0d-0e95c27dfab5.PNG' width = 600></center>


This database schema is in the end applied using the query processing language used to create programs to create databases.

---

#### Task 5: Structured Query Language (SQL)

**Structured Query Language (SQL)**, pronounced as Sequel, is the most commonly used standard Query Language for Database developed by IBM. The SQL language has several parts. The SQL DDL and SQL DML parts contain the most widely used commands. They are explained as:

1. **Data Definition Language (DDL):** The SQL DDL provides commands for defining the relation schemas i.e. creating tables (skeleton of the table), deleting tables, and modifying relation schemas.

2. **Data Manipulation Language (DML):** The SQL DML includes commands to insert tuples into, delete tuples from, and modify tuples in the database.

Some of the commonly used commands are:

1. Create
```
CREATE TABLE Customer (
customer_id int,
customer_name varchar(21),
customer_street varchar(21)
);
```

2. Insert 
```
INSERT INTO Customer (customer_id, customer_name, customer_street)
VALUES (101, 'Cardinal','Stavanger');
```

---

#### Task 6: Data Types in SQL

Data types are used to represent the nature of the data that can be stored in the database table. For example, in a particular column of a table, if we want to store a string type of data then we will have to declare a string data type of this column.

**Choosing a Data Type:**
- Each data type takes up a different amount of space on your system. 
- The measure of space for these data types at the lowest level is measure in bytes. 
- A **byte** defines the amount of storage needed to define a single character. A value like "HORSE" would consist of five bytes. 

SQL Server offers six categories of data types for your use which are listed below:

**1. Exact Numeric Data Types:**

|Data Type|From|To|Example|
|-|-|-|-|
|bigint|	-9,223,372,036,854,775,808|	9,223,372,036,854,775,807|1,223,372,036,854,770,000|
|int|	-2,147,483,648|	2,147,483,647|1,147,400,600|
|smallint|	-32,768	|32,767|10,000|
|tinyint|	0|	255|45|
|bit|	0|	1|0|
|decimal|	-10^38 +1|	10^38 -1|10,000|
|numeric|	-10^38 +1	|10^38 -1|10,000|
|money|	-922,337,203,685,477.5808|	+922,337,203,685,477.5807|233,337,302,666,577.0000|
|smallmoney|	-214,748.3648	|+214,748.3647|12,000.00|

**2. Approximate  Numeric Data Types:**

|Data Type|From|To|Example|
|-|-|-|-|
|float|	-1.79E + 30|	1.79E + 38|-0.99999|
|real|	-3.40E + 38|	3.40E + 38|2.55667|

**3. Date and Time Data Types:**

|Data Type|From|To|
|-|-|-|
|datetime|	Jan 1, 1753	|Dec 31, 9999|
|smalldatetime|	Jan 1, 1900	|Jun 6, 2079|
|date|	Stores a date like June 30, 1991|
|time|	Stores a time of day like 12:30 P.M.|

**4. Character Strings Data Types:**

|Data Type|Description|Example|
|-|-|-|
|char|Maximum length of 8,000 characters. (Fixed length non-unicode characters)|'Hello'|
|varchar|Maximum of 8,000 characters. (Variable-length non-unicode data).|'Male'|
|varchar(max)|Maximum length of 2E + 31 characters, variable-length non-unicode data (SQL Server 2005 only).|'Male'|
|text|Variable-length non-unicode data with a maximum length of 2,147,483,647 characters.|'Welcome to Python programming'|

**5. Unicode Character Strings Data Types:**

|Data Type|Description|Example|
|-|-|-|
|nchar|Maximum length of 4,000 characters.( Fixed length Unicode)|'Hello'|
|nvarchar|Maximum length of 4,000 characters. (Variable length Unicode)|'Male'|
|nvarchar(max)|Maximum length of 2E + 31 characters (SQL Server 2005 only). (Variable length unicode)|'Male'|
|ntext|Maximum length of 1,073,741,823 characters. ( Variable length unicode )|'Welcome to Python programming'|

**6. Binary Data Types:**

|Data Type|Description|
|-|-|
|binary|Maximum length of 8,000 bytes. (Fixed-length binary data )|
|varbinary|Maximum length of 8,000 bytes. (Variable length binary data)|
|varbinary(max)|Maximum length of 2E + 31 bytes. (SQL Server 2005 only). (Variable length Binary data)|
|image|Maximum length of 2,147,483,647 bytes. (Variable length Binary Data)|

**7. Misc Data Types:**

|Data Type|Description|
|-|-|
|sql_variant|Stores values of various SQL Server-supported data types, except text, ntext, and timestamp.|
|timestamp|Stores a database-wide unique number that gets updated every time a row gets updated.|
|uniqueidentifier|Stores a globally unique identifier (GUID).|
|xml|Stores XML data. You can store xml instances in a column or a variable (SQL Server 2005 only).|
|cursor|Reference to a cursor object.|
|table|Stores a result set for later processing.|

Let us stop here. In the next class you will be learning the principles of Machine Learning.

---