<a href="https://colab.research.google.com/github/aadityasomani/Aadi/blob/master/Lesson_31_String_Operations_I_Aditya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 31: String Operations I

---

### Teacher-Student Tasks

So far, we have been calling string a data type. But technically, in Python, a string is another data structure just like a list, a tuple, and a dictionary. Therefore, it means a string also stores data. Essentially, a string is an array containing some items. Any character (whether a letter, a number, or a special symbol like space, brackets, etc.) enclosed within double quotes (`""`) or single quotes (`''`) is considered as a string. 

Since a string is a data structure, the following operations/functions applicable for lists and tuples are also applicable for strings:

1. String Length

2. String Indexing

3. String Slicing

4. Index of an Item

5. String Concatenation

6. The `enumerate()` Function

7. The `count()` Function

Let's first quickly apply the above operations/functions on strings and then learn some new concepts about them.

---

#### Task 1: Common Data Structure Operations on Strings

Here are the common operations or functions that can be applied to a data structure in Python.

**1. String Length:** The number of items (or characters) contained in a string:

In [ ]:
# S1.1: Create an alphanumeric string, preferably a short sentence. Also, find its length.
some_string="I am Aditya ,I'm 22 years old."
print(some_string,"Length is :",len(some_string))

I am Aditya ,I'm 22 years old. Length is : 30

**2. Indexing**: The positions occupied by the items or characters in a string.

In [ ]:
# S1.2: Print every item (or character) of the above string using a loop and the indexing method. Also, print the indices.
for i in range(len(some_string)):
    print(i,some_string[i])

0 I
1
2 a
3 m
4
5 A
6 d
7 i
8 t
9 y
10 a
11
12 ,
13 I
14 '
15 m
16
17 2
18 2
19
20 y
21 e
22 a
23 r
24 s
25
26 o
27 l
28 d
29 .

As you can see in the above output, even the spaces occupy an index because they are also a part of the string.

Let us now print the items of the above string in the reverse order without using negative indexing.

In [ ]:
# Student Action: Print the items of the above string in the reverse order without using negative indexing. Also, print the indices.
for i in range(1,len(some_string)+1):
    print(len(some_string)-i,some_string[len(some_string)-i])

29 .
28 d
27 l
26 o
25
24 s
23 r
22 a
21 e
20 y
19
18 2
17 2
16
15 m
14 '
13 I
12 ,
11
10 a
9 y
8 t
7 i
6 d
5 A
4
3 m
2 a
1
0 I

In [ ]:
# S1.3: Print the items of the above string using negative indexing. Also, print the indices.
for i in range(-len(some_string),0):
    print(i,some_string[i])

-30 I
-29
-28 a
-27 m
-26
-25 A
-24 d
-23 i
-22 t
-21 y
-20 a
-19
-18 ,
-17 I
-16 '
-15 m
-14
-13 2
-12 2
-11
-10 y
-9 e
-8 a
-7 r
-6 s
-5
-4 o
-3 l
-2 d
-1 .

**3. String Slicing:** A small part of string sliced out from the original string:

In [ ]:
# S1.4: Get the first 5 characters (or items) of the above string.
some_string[:5]

'I am '

In [ ]:
# S1.5: Get the first 5 characters (or items) of the above string in the reverse order.
some_string[4::-1]

' ma I'

In [ ]:
# S1.6: Get all the characters (or items) of the above string in the reverse order.
some_string[::-1]

".dlo sraey 22 m'I, aytidA ma I"

You cannot change/replace the items of a string using the index method. For that, we have to use the `replace()` function which we will learn shortly.

In [ ]:
# S1.7: Try to replace the item at index = 3 with 'W'. You should get 'TypeError' because the 'str' object does not support item assignment.
some_string[3]='W'
some_string

TypeError: ignored

From the above output, you may observe that the index method cannot be used to replace items in a string.

**4. String Index:** The `index()` function returns the index at which the item is located. In the case of the repeated item, it returns the index at which it appears the first time in the string. The same is true in the case of a list and a tuple.

In [ ]:
# S1.8: Get the index of any item in the string that you created.
some_string.index('A')

5

**5. String Concatenation:** The process of joining two or more strings to get one string using the `+` operator is called string concatenation. 

**Note:** Before the string concatenation operation, you need to ensure that the objects to be concatenated are all strings. If a data type that needs to be concatenated is not a string then, you first need to convert it into a string using the `str()` function.

In [ ]:
# S1.9: Concatenate the following objects to get the "Jupiter has 79 known moons."
planet="Jupiter"
moons=79
sentance=planet+' has '+str(moons)+" known moons."
sentance

'Jupiter has 79 known moons.'

**6. The `enumerate()` Function**: It pairs the item in a string with its roll call and returns a collection of tuples.

In [ ]:
# S1.10: Apply the 'enumerate()' function on above string thrice: On top of it apply the 'list()', 'dict()' &  'tuple()' functions.
# Store all of three of them in different variables.
enum_list=list(enumerate(sentance))
enum_dict=dict(enumerate(sentance))
enum_tuple=tuple(enumerate(sentance))
print("List :",enum_list,"\nDict: ",enum_dict,"\ntuple: ",enum_tuple)

List : [(0, 'J'), (1, 'u'), (2, 'p'), (3, 'i'), (4, 't'), (5, 'e'), (6, 'r'), (7, ' '), (8, 'h'), (9, 'a'), (10, 's'), (11, ' '), (12, '7'), (13, '9'), (14, ' '), (15, 'k'), (16, 'n'), (17, 'o'), (18, 'w'), (19, 'n'), (20, ' '), (21, 'm'), (22, 'o'), (23, 'o'), (24, 'n'), (25, 's'), (26, '.')]
Dict:  {0: 'J', 1: 'u', 2: 'p', 3: 'i', 4: 't', 5: 'e', 6: 'r', 7: ' ', 8: 'h', 9: 'a', 10: 's', 11: ' ', 12: '7', 13: '9', 14: ' ', 15: 'k', 16: 'n', 17: 'o', 18: 'w', 19: 'n', 20: ' ', 21: 'm', 22: 'o', 23: 'o', 24: 'n', 25: 's', 26: '.'}
tuple:  ((0, 'J'), (1, 'u'), (2, 'p'), (3, 'i'), (4, 't'), (5, 'e'), (6, 'r'), (7, ' '), (8, 'h'), (9, 'a'), (10, 's'), (11, ' '), (12, '7'), (13, '9'), (14, ' '), (15, 'k'), (16, 'n'), (17, 'o'), (18, 'w'), (19, 'n'), (20, ' '), (21, 'm'), (22, 'o'), (23, 'o'), (24, 'n'), (25, 's'), (26, '.'))

**7. The `count()` Function:** It returns the number of times an item (or a character) appears in a string.

In [ ]:
# S1.11: Count the number of spaces in the above string.
sentance.count(" ")

4

Thus, we learned how certain functions which are common to almost every data structure like lists, tuples, dictionaries, etc. can be applied to strings in Python.

---

#### Task 2: Empty String and Multiline String

A string that has no item (or character) is called an **empty string**. It can be created by either using single quotes or double quotes without enclosing anything between them. Not even space.

In [ ]:
# S2.1: Create an empty string. Print the string and also print its length.
string=""
print(len(string))

0

You may require to write a very long string in multiple lines in a code cell. Such a string is called a multiline string. To create a multiline string, use three single quotes (`''' '''`) or three double quotes (`""" """`).

Here's one of the wonderful poems by Nobel Prize Winner Dr Rabindranath Tagore from this collection called Gitanjali.

```
Where the mind is without fear
and the head is held high,
where knowledge is free.
Where the world has not been broken up into fragments, 
by narrow domestic walls.
Where words come out from the depth of truth,
where tireless striving stretches its arms toward perfection.
Where the clear stream of reason has not lost its way
into the dreary desert sand of dead habit.
Where the mind is led forward by thee
into ever widening thought and action.
In to that heaven of freedom, my father,
LET MY COUNTRY AWAKE!
```

The above poem has 13 lines. If we want to print it as a string in the following code cell, then we will have to create it as a multiline string.

In [ ]:
# S2.2: Create the multiline string for the above poem and print it using the 'print()' function.
poem="""Where the mind is without fear
and the head is held high,
where knowledge is free.
Where the world has not been broken up into fragments, 
by narrow domestic walls.
Where words come out from the depth of truth,
where tireless striving stretches its arms toward perfection.
Where the clear stream of reason has not lost its way
into the dreary desert sand of dead habit.
Where the mind is led forward by thee
into ever widening thought and action.
In to that heaven of freedom, my father,
LET MY COUNTRY AWAKE!"""
print(poem)

Where the mind is without fear
and the head is held high,
where knowledge is free.
Where the world has not been broken up into fragments,
by narrow domestic walls.
Where words come out from the depth of truth,
where tireless striving stretches its arms toward perfection.
Where the clear stream of reason has not lost its way
into the dreary desert sand of dead habit.
Where the mind is led forward by thee
into ever widening thought and action.
In to that heaven of freedom, my father,
LET MY COUNTRY AWAKE!

The way you indent a multiline string is a way it gets printed in the output.

Try to create the above string with either single quotes and double quotes. You should get an error.

In [ ]:
# S2.3: Create the multiline string for the above poem and print it using the 'print()' function.

As you can see, you will get error if you use only one double quotes to print multiline string. Hence, we need to use three double quotes or three single quotes to print multiline string.

---

#### Task 3: Repetition

You can repeat a string several times by using the `*` operator. Using this concept you can create many incredible patterns such as a triangle, a rectangle, a square, etc.

Let's learn this concept by creating the following triangle:

```
#
##
###
####
#####
```

Here, the `#` string appears only once in the first line, twice in the second line, thrice in the third line, four times in the fourth line, and five times in the fifth line:

In [ ]:
# S3.1: Create the above triangle.
for i in range(1,6):
    print("#"*i)

#
##
###
####
#####

In the above code:

- The value of `i` goes from 1 to 5.

- `i = 1`, repeats the `'#'` string only once because of `'#' * 1`.

- `i = 2`, repeats the `'#'` string twice because of `'#' * 2`.

- `i = 3`, repeats the `'#'` string thrice because of `'#' * 3`.

- `i = 4`, repeats the `'#'` string four times because of `'#' * 4`.

- `i = 5`, repeats the `'#'` string five times because of `'#' * 5`.

Now, you create the following triangle. It is a mirror image of the above triangle:

```
    #
   ##
  ###
 ####
#####
```

In [ ]:
# S3.2: Create the above triangle.
for i in range(1,6):
    print(" "*(5-i)+"#"*i)

    #
   ##
  ###
 ####
#####

In the above code:

- The value of `i` goes from 1 to 5.

- `i = 1`, repeats the space `' '` four times because of `' ' * (5 - 1)` and the `'#'` string only once because of `'#' * 1`.

- `i = 2`, repeats the space `' '` thrice because of `' ' * (5 - 2)` and the `'#'` string twice because of `'#' * 2`.

- `i = 3`, repeats the space `' '` twice because of `' ' * (5 - 3)` and the `'#'` string thrice because of `'#' * 3`.

- `i = 4`, repeats the space `' '` only once because of `' ' * (5 - 4)` and the `'#'` string four times because of `'#' * 4`.

- `i = 5`, repeats the space `' '` zero times because of `' ' * (5 - 5)` and the `'#'` string five times because of `'#' * 5`.


Similarly, you can create many more such patterns.

**Note:** Similarly, you can also repeat the times contained in a list and in a tuple multiple times using the `*` operator.

In [ ]:
# S3.3: Create a list containing three items and repeat them twice.
list1=[1,2,3]
list1*2

[1, 2, 3, 1, 2, 3]

In [ ]:
# S3.4: Create a tuple containing three items and repeat them four times.
tuple1=(1,2,3,4)
tuple1*4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

Hence, the `*` operator can be used with lists, tuples as well as strings to repeat the items contained in them.

---

#### Task 4: The `format()` Function

This function is our best friend when it comes to formatting a string. Why?

Recall that in the case of the string concatenation, we have to use the `+` operator several times to get one string. Additionally, you have to beware of spaces and also have to convert a non-string data type object to a string before concatenation. This is such a big hassle if too many strings are to be concatenated.

Similarly, while printing the values of multiple entities using the `print()` function, you have to separate them with commas. Again quite a handful of  tasks especially in the case of long strings.

The `format()` function doesn't require that much effort to generate a clean string. It allows you to create one long string with proper punctuation and plug in the required values at the respective places in the long string.

Let's learn this function with the help of an example. We have a dummy CSV containing the data of the 20 professional marathon runners (men's category) who participated in the **Mumbai Marathon (TMM)** 2020.

Our task is to create a certificate for each runner using the `format()` function. The certificate should read the following:

```
Mumbai Marathon 2020

      CONGRATULATIONS

This is to certify that JOHN DERA                     
BIB No. 22
officially completed the marathon 
(distance 42.2 km) 
in the men's category 
with a finish time of 2:08:09 
and rank 1.                   
--------------------------------------------------
```

Here's the link to the CSV file containing data for each runner:


https://s3-whjr-curriculum-uploads.whjr.online/0da95234-a814-4957-b949-38d4b7754a94.csv

**Note:** This is a dummy dataset used for the sole purpose of understanding the concept. 


**How to approach this task?**

1. Create a Pandas DataFrame for the MM 2020 professional runners (men's category).

2. Create the following string with curly brackets as placeholders:

  ```
  Mumbai Marathon 2020

        CONGRATULATIONS

  This is to certify that {}                    
  BIB No. {}
  officially completed the marathon 
  (distance 42.2 km) 
  in the men's category 
  with a finish time of {} 
  and rank {}.                   
  {}
  ```

3. Iterate through each row of the DataFrame created in the first step to get the name, BIB number, race finish time, and rank of a runner.

4. Fill the values in the placeholders (or curly brackets) using the `format()` function such that,

      - The name of a runner goes to the first placeholder.

      - The BIB number of a runner goes to the second placeholder.

      - The race finish time of a runner goes to the third placeholder.

      - The rank of a runner goes to the fifth placeholder.

      - The 50 repetitions of the hyphen symbol goes to the last placeholder.

5. Print the prescribed certificate for each runner.

Steps 3, 4, and 5 are part of the same iteration.

In [ ]:
# S4.1: Create a Pandas DataFrame for the TMM 2020 runners.
import pandas as pd
df=pd.read_csv("https://s3-whjr-curriculum-uploads.whjr.online/0da95234-a814-4957-b949-38d4b7754a94.csv")
df.head()

   Finish Position  BIB           NAME NATIONALITY Net Finish Time
0                1   22      JOHN DERA         UGA        02:08:09
1                2    3  JAMES GREYSON         ETH        02:08:20
2                3    9    CARTER JACK         ETH        02:08:26
3                4   15     SHOEB SYED         UGA        02:08:41
4                5   20     SHER SINGH         IND        02:08:56

The first step is done. Now, let's follow the remaining steps:

In [ ]:
# S4.2: Print the certificates for each TMM 2020 runner in the prescribed format.
certificate='''
Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that {}                    
BIB No. {}
officially completed the marathon 
(distance 42.2 km) 
in the men's category 
with a finish time of {} 
and rank {}.                   
{}'''
for i in df.index:
    print(certificate.format(df.loc[i,"NAME"],df.loc[i,"BIB"],df.loc[i,"Net Finish Time"],df.loc[i,"Finish Position"],"-"*50))

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that JOHN DERA
BIB No. 22
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:08:09
and rank 1.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that JAMES GREYSON
BIB No. 3
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:08:20
and rank 2.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that CARTER JACK
BIB No. 9
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:08:26
and rank 3.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SHOEB SYED
BIB No. 15
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:08:41
and rank 4.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SHER SINGH
BIB No. 20
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:08:56
and rank 5.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that MOHIT RAJ
BIB No. 11
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:09:01
and rank 6.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that AVA JACKSON
BIB No. 4
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:09:15
and rank 7.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that DELNAZ BAK
BIB No. 23
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:10:04
and rank 8.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SHRENU SINGH
BIB No. 44
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:10:36
and rank 9.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that RAHUL BHATT
BIB No. 32
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:10:37
and rank 10.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that VINCENT
BIB No. 43
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:11:15
and rank 11.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that CAMILA HARPER
BIB No. 10
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:13:39
and rank 12.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that LUNA LAMP
BIB No. 51
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:18:44
and rank 13.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SOFIA JOHNSON
BIB No. 56
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:24:00
and rank 14.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that ELIZABETH RAY
BIB No. 53
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:24:03
and rank 15.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that RAVIKUMAR
BIB No. 70
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:24:32
and rank 16.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that GRACE ZOE
BIB No. 27
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:24:53
and rank 17.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that RAHUL PAL
BIB No. 55
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:26:56
and rank 18.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that PRADEEP BHOSALE
BIB No. 54
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:29:27
and rank 19.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that NAOMI HADLEY
BIB No. 57
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:31:16
and rank 20.
--------------------------------------------------

As you can see, we first created a multiline string and stored it in a variable. The string contains five placeholders in the form of curly brackets.

- The first place holder is created to store the name of each runner.

- The second place holder is created to store the BIB number of each runner.

- The third place holder is created to store the finish time of each runner.

- The fourth place holder is created to store the rank secured by each runner in the marathon.

- The fifth place holder is created to store the hyphen symbol (`-`).

In the same order of the placeholders, we passed the values to the `format()` so that they occupy their respective places in the final string. The last value,  `'-' * 50`, that is passed to the `format()` function means that the hyphen symbol is repeated 50 times.

**Labeling Placeholders**

When there are too many placeholders to fill, you might lose a track of what value to put to what placeholder. In such cases, the better approach is to label the placeholders in such a way that they describe the values to put to the placeholders:

In [ ]:
# S4.3: Label the placeholders in the above code.
certificate='''
Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that {Name}                    
BIB No. {Bib}
officially completed the marathon 
(distance 42.2 km) 
in the men's category 
with a finish time of {Finish_Time} 
and rank {Rank}.                   
{Hyphen}'''
for i in df.index:
    print(certificate.format(Name=df.loc[i,"NAME"],Bib=df.loc[i,"BIB"],Finish_Time=df.loc[i,"Net Finish Time"],Rank=df.loc[i,"Finish Position"],Hyphen="-"*50))

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that JOHN DERA
BIB No. 22
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:08:09
and rank 1.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that JAMES GREYSON
BIB No. 3
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:08:20
and rank 2.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that CARTER JACK
BIB No. 9
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:08:26
and rank 3.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SHOEB SYED
BIB No. 15
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:08:41
and rank 4.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SHER SINGH
BIB No. 20
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:08:56
and rank 5.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that MOHIT RAJ
BIB No. 11
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:09:01
and rank 6.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that AVA JACKSON
BIB No. 4
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:09:15
and rank 7.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that DELNAZ BAK
BIB No. 23
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:10:04
and rank 8.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SHRENU SINGH
BIB No. 44
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:10:36
and rank 9.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that RAHUL BHATT
BIB No. 32
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:10:37
and rank 10.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that VINCENT
BIB No. 43
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:11:15
and rank 11.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that CAMILA HARPER
BIB No. 10
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:13:39
and rank 12.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that LUNA LAMP
BIB No. 51
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:18:44
and rank 13.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that SOFIA JOHNSON
BIB No. 56
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:24:00
and rank 14.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that ELIZABETH RAY
BIB No. 53
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:24:03
and rank 15.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that RAVIKUMAR
BIB No. 70
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:24:32
and rank 16.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that GRACE ZOE
BIB No. 27
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:24:53
and rank 17.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that RAHUL PAL
BIB No. 55
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:26:56
and rank 18.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that PRADEEP BHOSALE
BIB No. 54
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:29:27
and rank 19.
--------------------------------------------------

Mumbai Marathon 2020

     CONGRATULATIONS

This is to certify that NAOMI HADLEY
BIB No. 57
officially completed the marathon
(distance 42.2 km)
in the men's category
with a finish time of 02:31:16
and rank 20.
--------------------------------------------------

As you can see, we have labeled the placeholders to determine which value to assign to which placeholder. Then, using the `format()` function, we have assigned the values to their respective placeholders.

**Syntax of `format()` function:** `string.format(placeholder1 = value1, placeholder2 = value2, ..., placeholderN = valueN)` where `N` is the number of values to assign or the number of placeholders to fill.

We will pause here now and will continue learning the remaining string operations in the next class.

---